.menu {
  background-color: #333;
  display: flex;

  &__item {
    margin: 0;
    padding: 0;

    &--selected .menu__link {
      background-color: #4caf50;
      color: white;
    }
  }

  &__link {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;

    &:hover {
      background-color: #575757;
      color: #fff;
    }
  }
}
