<div class="general">
  <div class="general__row">
    <div class="general__card">
      <p class="poppins-regular">Incidentes no Dia:</p>
      <p class="poppins-semibold">0</p>
    </div>
    <div class="general__card">
      <p class="poppins-regular">Pagamentos Pendentes:</p>
      <p class="poppins-semibold">3</p>
    </div>
  </div>
  <div class="general__row">
    <div class="general__card">
      <p class="poppins-regular">Contas Criadas:</p>
      <p class="poppins-semibold">+ 100/dia</p>
    </div>
    <div class="general__card">
      <p class="poppins-regular">Usuários Ativos:</p>
      <p class="poppins-semibold">10.000</p>
    </div>
  </div>
</div>
