<div class="payments">
  <h1 class="payments__title poppins-semibold">Pagamentos:</h1>
  <p class="payments__description poppins-light">
    Aqui você pode ver os pagamentos da sua conta:
  </p>

  <div class="payments__buttons">
    <button class="payments__button">Débito</button>
    <button class="payments__button">Crédito</button>
  </div>
  <app-debit></app-debit>
  <!-- <router-outlet></router-outlet> -->

  <!-- <p class="poppins-regular payments__blocked-message">A sua conta está bloqueada, são será possível acessar as funcionalidades de crédito e débito.</p> -->
</div>
